.mobile-job-search{
    box-shadow: 0px 4px 48px 0px #00000017;
}

@media (max-width:1023px){
    .sort-by-container button {
        background: #fff;
        color: #6b6b6b;
        font-size: 12px;
        line-height: 22px;
        border-radius: 8px;
        text-align: center;
        justify-content: end;
        padding: 7px 13px !important;
        border: .5px solid #6b6b6b !important;
    }
    .job-card{
        padding: 25px 18px 24px 18px;
    }
    .job-card h3{
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
    .job-card p{
        font-size: 10px;
        line-height: 16px;
        font-weight: 400;
    }
    .job-card h3.job-title{
        font-size: 18px;
        font-weight: 500;
        line-height: 134%;
    }
    .job-card .label, .job-card .label.lightgreen{
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0%;
        padding: 5.5px 8px !important;
    }
    .job-card .action-btns{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        border-top: 1px solid #E3ECFB;
        padding-top: 16px;
        margin-top: 15px !important;
    }
    .job-card .action-btns button, .job-card .action-btns a{
        flex: 1;
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
        padding: 0 !important;
        height: 40px;
        border-radius: 8px;
    }
    .find-career-nudge{
        border-radius: 0;
    }
    .container.job-listings{
        padding: 0;
    }
    .mobile-container {
        padding-inline: 20px;
        margin-inline: auto !important;
    }
    .no-mobile-container{
        padding-inline: 0px;
    }
    .no-mobile-container .mobile-container{
        max-width: 100vw;
    }
    .near-me-jobs-pannel{
        border-start-end-radius: 18px;
        border-start-start-radius: 18px;
    }
    .mobile-job-search{
        width: calc(100% - 40px);
        margin-top: 20px;
        margin-bottom: 0;
        margin-inline: auto;
    }
    .find-career-nudge .css-13cymwt-control, .find-career-nudge .css-t3ipsp-control{
        height: 55px;
        border-color: transparent;
        border-radius: 8px;
    }
    .find-career-nudge .css-1jqq78o-placeholder{
        color: #4D4D4F !important;
    }
    .find-career-nudge button{
        width: 130px !important;
        height: 36px !important;
        font-size: 14px !important;
        line-height: 24px !important;
        border-radius: 8px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-filter-pannel{
        border-radius: 20px 20px 0 0;
    }
    .mobile-filter-pannel .clear-all{
        /* width: 72px;
        height: 30px; */
    }
    .filter-accordian{
        border-top: 1px solid #D6DDEB !important;
        border-radius: 0;
        padding-top: 10px !important;
    }
    .filter-accordian:nth-child(1), 
    .filter-accordian:nth-child(2), 
    .filter-accordian:nth-child(3){
        border-top: none !important;
    }
    .filter-accordian .show-more{
        border-color: transparent !important;
        font-size: 13px !important;
    }
    .filter-accordian .filter-range-btn{
        padding: 10px 30px !important;
    }
    .mobile-p-l-0{
        padding-left: 0 !important;
    }
    .mobile-p-r-0{
        padding-right: 0 !important;
    }
    .sign-in-btn{
        width: 62px;
        height: 30px;
        font-size: 12px;
        font-weight: 500;
        padding: 0;
    }
    
    .profile-options-menu{
        right: 0;
    } 
    .jobs-near-me .near-me-search{
        margin-block: 11px;
        background: transparent;
    }
    .jobs-near-me .near-me-search input{
        box-shadow: 0px 4px 48px 0px #00000017;
        background: white;
    }
    .custom-google-map .zoom-in-map,
    .custom-google-map .zoom-out-map{
        opacity: 0.11;
    }
    .custom-google-map .zoom-in-map,
    .custom-google-map .zoom-out-map,
    .custom-google-map .recenter-map{
        transform: translate(-8px, -20px);
    }
}
.sticky-apply-on-filter-pannel{
    position: absolute;
    bottom: 10px;
    z-index: 10;
    width: calc(100% - 50px);
    padding-block: 10px;
}

@media (max-width: 768px){
    .swiper.swiper-horizontal {
        padding-inline: 0 20px !important;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none !important;
    }
    .impact-section .swiper-button-prev.out-arrow{
        display: block !important;
        left: 25px !important;
        transform: translateY(-115px);
        scale: 1.6;
      }
      .impact-section .swiper-button-next.out-arrow{
        display: block !important;
        right: unset !important;
        left: 89px !important;
        transform: translateY(-115px);
        scale: 1.6;
      }
      .impact-desc{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 11;
      }
      .impact-section .slider-wrapper{
        padding-inline: 0 !important;
      }
      
    .impact-red-bg{
        height: calc(100% - 380px);
        bottom: 0;
        top: unset;
    }
    .impact-section{
        margin-top: 100px ;
    }
    .impact-slides-container{
        margin-top: 150px;
    }
    .mobile-header{
        padding-inline: 18px;
        padding-block: 6px;
    }   
}

@media (max-width: 540px){
    .about-usp-card{
        padding-bottom: 37px;
    }
    
    .job-card .label, .job-card .label.lightgreen{
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0%;
        padding: 5.5px 8px !important;
    }
}
@media (max-width: 340px){
    .about-usp-card{
        padding-bottom: 37px;
    }
    
    .impact-section .swiper-button-prev.out-arrow{
        transform: translateY(-125px);
      }
      .impact-section .swiper-button-next.out-arrow{
        transform: translateY(-125px);
      }
}